<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AMD OS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1063456084878-1pui006kicgahn5r6eo6j18p4hiq5pnc</string>
				<string>amdos</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-oauth-callback</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>1063456084878-1pui006kicgahn5r6eo6j18p4hiq5pnc.apps.googleusercontent.com</string>
	<key>NSFaceIDUsageDescription</key>
	<string>AMD OSへのログインにFace IDを使用します。</string>
	<key>NSCameraUsageDescription</key>
	<string>名刺を撮影してAMD OSの名刺台帳へ登録するためにカメラを使用します。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>撮影済みの名刺画像をAMD OSの名刺台帳へ登録するために写真を選択します。</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
